// font-weight
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;

// font-family
$poppins: "Poppins";
$cocogoose: "Cocogoose";
$heading-font-weight: 400;
$heading-line-height: 60px;
$heading-line-height-sm: 40px;

// theme-palette
$theme-black: #434343;
$theme-dark-cyan: #1bcece;
$theme-light-cyan: #14e4ea;
$theme-light-brown: #d3bdb0;
$theme-light-purple: #dbd4ff;
$theme-cyan-background: rgba(20, 228, 234, 0.2);
$theme-accent-green: #24bb61;
$theme-light-grey: #eff2f4;
$theme-light-grey-text: #808080;
$theme-grey-background: #e7e7e7;
$theme-light-grey-bacground: #f9f9f9;
$theme-dark-grey: #919191;

// font-sizes
$navbar-items-fs: 1rem;

// custom padding for container-fluid
$custom-container-fluid-padding: 2rem;

// font-colors
$tagline-color: #333;
$caption-color: #a1a1a1;

// custom extra properties
$opacity: 0;

@font-face {
    font-family: "Poppins-SemiBold";
    src: url("../fonts/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: "Poppins-Regular";
    src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: "Poppins-SemiBold-Italic";
    src: url("../fonts/Poppins-SemiBold-Italic.ttf");
}
@font-face {
    font-family: "Poppins-ExtraBold-Italic";
    src: url("../fonts/Poppins-ExtraBold-Italic.ttf");
}
